/* font mixin */
@mixin roboto {
	font-family: 'Roboto', sans-serif;
}

@mixin inter {
	font-family: 'Inter', sans-serif;
}

@mixin poppins {
	font-family: 'Poppins', sans-serif;
}

@mixin montserrat {
	font-family: 'Montserrat', sans-serif;
}

@mixin proxima {
	font-family: 'Proxima Nova Regular';
}