/* global variable */
$brand-color: #02897A;

$global-white-font: #FFFFFF;
$global-main-font: #22343D;

/* component variable */
$sign-up-border: #BCD0E5;

/* section variable */
// header
$header-main-font: #22343D;
$header-second-font: #173A56;

// feature
$card-shadow: rgba(0, 0, 0, 0.25);
$card-nth-1: #02897A;
$card-nth-2: #4D8DFF;
$card-nth-3: #740A76;
$card-nth-4: #F03E3D;


/* gradient */
